* {
  margin: 0px;
  padding: 0px;
}

/* navber section style start */
body {
  font-family: "Azeret Mono", monospace;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  /* border-bottom: 1px solid gray */
}
.navbar > ul > li {
  list-style: none;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: #0d1321;
  font-size: 24px;
  font-weight: 800;
}
.navbar > ul > li > button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 1px solid #0d1321;
  color: #0d1321;
  font-size: 16px;
  font-weight: 600;
}
.navbar > ul > li > button:hover {
  cursor: pointer;
}
/* navber section style end */

/* banner section style start */
header > section {
  background-image: url("../assets/Hero-bg.png");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
header > section > div {
  text-align: center;
}
header > section > div > div > img {
  padding-top: 26px;
}
header > section > div > h1 {
  font-size: 38px;
  color: #0d1321;
  font-weight: 800;
  padding-top: 32px;
  line-height: 64px;
}
header > section > div > p {
  line-height: 26px;
  padding-top: 24px;
  color: #0d1321;
  /* text-align: center; */
}
header > section > div > button {
  padding: 12px 12px;
  border-radius: 8px;
  background: #0d1321;
  color: #fff;
  border: none;
  margin-top: 24px;
}

/* banner section style end */

/* The development department has 3 step */

/* Development section start style */

.Development-container {
  margin-top: 100px;
  text-align: center;
  background: rgba(13, 19, 33, 0.02);
  padding-bottom: 80px;
}
.Development-container > h1 {
  padding-top: 42px;
}
.Development-container > p {
  padding-top: 24px;
  line-height: 26px;
}

/* Development section step one style */

.Development-step-one-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: auto;
  width: 1000px;
  margin-top: 100px;
  padding: 24px 0px;
  border-radius: 16px;
  background-color: #fff;
}
.Development-step-one-info {
  text-align: left;
}
.Development-step-one-info > h4 {
  color: rgba(13, 19, 33, 0.7);
  line-height: 26px;
}
.Development-step-one-info > p {
  color: #0d1321;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 10px;
}
.Development-step-one-info > button {
  padding: 12px 20px;
  margin-top: 32px;
  border: 1px solid #0d1321;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 8px;
  font-weight: 600px;
}
.Development-step-one-info > button:hover {
  cursor: pointer;
  background-color: #fff;
}
.Development-step-one-img > img {
  height: 200px;
}

/* Development section step two */

.step-2 {
  flex-direction: row-reverse;
  justify-content: center;
  gap: 32px;
}

/* Development section step 3 */

/* .step-3{
  padding-bottom: 80px;
} */

/* Development section end */

/* inspiration section style */

.inspiration > div {
  text-align: center;
}

.inspiration-video {
  padding: 24px 0px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  margin: auto;
  margin-top: 32px;
  width: 600px;
}
.inspiration > div > p {
  margin-top: 24px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 26px;
}
.inspiration > div > h1 {
  padding-top: 24px;
}

/* inspiration section end */

/* Current section style */

.Current {
  text-align: center;
  margin-top: 100px;
}

.Current > h1 {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
}
.Current > p {
  padding-top: 24px;
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.Current-card-container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 32px 32px;
}
.Current-card {
  text-align: left;
  padding: 32px 32px;
  background: rgba(255, 76, 30, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
.Current-card > h2 {
  margin-top: 16px;
}
.Current-card > p {
  margin-top: 24px;
  opacity: 0.7;
  line-height: 26px;
  padding-bottom: 24px;
}
.Current-card > a {
  color: #000000;
}
.css-card{

  background: rgba(0, 76, 232, 0.05);
}
.js-card{

  background: rgba(255, 223, 0, 0.05);
}


/* Current section end */

/* terget section style */

.Target-container {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}
.Target-container > p {
  padding-top: 24px;
  color: #000000;
  opacity: 0.7;
  line-height: 26px;
}

.Target-card {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 1200px;
  align-items: center;
  margin: auto;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  margin-top: 48px;
}

.Target-card-info {
  text-align: left;
}

.Target-card-info > h4 {
  color: rgba(13, 19, 33, 0.7);
}

.Target-card-info > p {
  color: #0d1321;
  line-height: 26px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 16px;
}

.Target-card-info > a {
  color: #000000;
}
.Target-card-img>img{
  width: 100px;
  margin-right: 20px;
}
/* .Target-card-img{
  /* width: 300px; */

/* target section end */

/* Support section style */

.Support-container {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../assets/handshake.jpg");
  width: 1200px;
  background-position: center;
  background-size: cover;
  margin: 44px auto;
  border-radius: 10px;
}
.Support-container > div {
  padding: 32px;
  text-align: center;
}
.Support-container > div > h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.Support-container > div > p {
  color: #fff;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}
.Support-container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 16px;
}
.Support-container > div > div > input {
  padding: 20px 200px 20px 10px;
  border-radius: 10px;
  border: none;
}
.Support-container > div > div > button {
  padding: 17px 24px;
  border-radius: 10px;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.Support-container > div > div > button:hover{
  cursor: pointer;
  background-color: gray;
}

/* Support section end */

/* footer style */

.footer-container {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container>div{
  font-size: 32px;
}
footer{
  background-color: rgb(214, 214, 214);
  text-align: center;
  padding: 16px 32px;
}
.fa-facebook{
  color: blue;
}
.fa-github{
  color: black;
}
.fa-linkedin{
  color: blue;
}

/* problem and mistek style */
html{
  scroll-behavior: smooth;
}


.scroll-ancor{
  text-decoration: none;
  color: #ffffff;
  
  font-weight: bold;
  font-size: 20px;
}
/* .scroll-btn{
  padding: 10px 10px;
} */